<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
      .header {
        padding-left: 80vw;
      }

      .main-content {
        width: 40vw;
      }

      .form-item {
        display: block;
      }

      .form-item textarea {
        vertical-align: top
      }
    </style>


  </head>
  <body>
    <div class="header">
      <a href="/books">Home</a>
      <a href="/logout">Log Out</a>
    </div>
    <div class="main-content">
      <h3>Add a New Book Title and a Review</h3>
      {%if messages%}
        {%for i in messages%}
          {{i}}
        {%endfor%}
      {%endif%}
      <form class="" action="/addbook" method="post">
        {% csrf_token %}
        <div class="form-item">
          <label for="title">Book Title: <input type="text" name="title" value=""></label>
        </div>
        <div class="form-item">
          <label for="author">Author</label>
        </div>
        <div class="form-item">
          Choose from the list: <select class="" name="author">
            <option></option>
            {% for i in books %}
            <option value="{{i.author}}">{{i.author}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-item">
          Or add a new author: <input type="text" name="new_author" value="">
        </div>
        <div class="form-item">
          <label>Review <textarea name="review" rows="10"></textarea></label>
        </div>
        <div class="form-item">
          Rating: <input type="number" name="rating" min="0" max="5">
        </div>
        <div class="form-item">
          <input type="submit" name="" value="Submit!">
        </div>
      </form>
    </div>
  </body>
</html>
